body {
    padding: 80px;
}

main {
    font-size: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
}

.box {
    display: inline-block;
    border: 1px solid black;   
}

.box-half {
    width: 50%;
    height: 200px;
}

.box-third {
    width: 33.33%;
    height: 300px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.grey {
    background-color: grey;
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;
}

























